/* рабочее названия - VOID */
/*  слайд цветотой палтры  */
/*  накинуть м83 саунд как оенто сбоку */
/* · точка  */
/* design development promo */
/* react js 2025 year */
/* 1440 4k - размер букв бг кольца  */
/* заменить цвет при наведении  */
/* убирать границу при наведении нижних скейлить подсвечивать добавить 1 пункт и подпись для стрелки */

/* адаптив  */
/* футер лай н фон 7вв во всю строку  */
/* убрать лого справа  */
/* добавит комплект нижних ссылок других на моб версию по раскрывающемуся меню  */
/* тексит ссылок большой во всю ширину  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: ; */
}

header {
  box-sizing: content-box;
  padding-top: 4svh;
  display: flex;
  position: relative;
background: white;
z-index: 3;
justify-content: center;
height: 13svh;

}


.header_left_cont, .header_right_cont {
  /* border: solid red; */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_decor_cont {
  border-radius: 25px;
  height: 50%;
  width: fit-content;
  border: blue solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5%;
}

.header_decor_text{
  
  font-family: Futura;
  text-transform: uppercase;
}

.header_center_cont{
  /* align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: FuturaPTBook;
letter-spacing: 0.05em;
  font-size: 3.5vw;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  height: 100%;
  width: auto;
  /* mix-blend-mode: difference; */
  
}

.header_text_cont {
  white-space: nowrap;
  /* mix-blend-mode: difference; */

}



.header_mini_bg {
  height: 7svh;
aspect-ratio: 1/1;
  background: url('assets/203195-abstract-purple-and-black-blur-gradient-background (2).jpg') center / cover  ;
  filter: brightness(70%);
  border-radius: 50%;
  /* animation: mini 20s infinite; */
  position: relative;
}



@keyframes mini {
  from{
    background: url('assets/2148817520.jpg') center / cover  ;
  }
  25% {
    background: url('assets/203195-abstract-purple-and-black-blur-gradient-background (2).jpg') center / cover  ;
  }
  50% {
    background: url('assets/StockCake-Pause and Reflect_1754276888.jpg') center / cover  ;
  }
  75% {
    background: url('assets/397024371_11538707.jpg') center / cover  ;
  }
  to {
    background: url('assets/2148817520.jpg') center / cover  ;
  }
}
html { 
   /* overflow-x: hidden; */
   font-size: 16px; 

}

a {
  transition: color 0.3s, opacity 0.3s;
}

video, audio, img {
   display: none;
}

.cp {
  clip-path: inset(0% 0% 0% 0%) !important;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.cp_point {position: absolute;
width: 10px;
height: 100px;
top: 0svh;
z-index: 10;}

.top_line_outter {
/* background: url('assets/2148817520.jpg') top / cover fixed ; */

/* background-image: linear-gradient(to right, c, #948e99); */
/* filter: hue-rotate(315deg); */
  width: 100%;
  height: 100%;
  clip-path: inset(4% 2% 0 2% );
  border: 1px solid #cccccc6e;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  overflow: hidden;
transition: clip-path 0.5s ease-out;
/* display: flex; */
will-change: clip-path ;
}

.top_line_outter::before {
  content: '';
  position: fixed;
  top: 0svh;
  /* clip-path: inset(5% 2% 0 2% ); */
  left: 0;
  /* нужен лефт убрать полосу слева отступ непонятный */
  width: 100%;
  height: 100svh;
  background: 
  url('assets/2148817520.jpg') top / cover;
  /* z-index: -1; */
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  will-change: clip-path ;
  /* border-radius: 25px; */
  /* animation: bg 1s 5s forwards; */
}

.transition {
  --transition: 150svh;
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(var(--transition));
  background:    
  linear-gradient( white, white) no-repeat 0% bottom / 20% 90% ,
  linear-gradient(white, white) no-repeat 20% bottom / 21% 85% ,
  linear-gradient(white,white) no-repeat 40% bottom / 21% 80% ,
  linear-gradient(white,white) no-repeat 60% bottom / 21% 75% ,
  linear-gradient(white,white) no-repeat 80% bottom / 20% 70%,
  linear-gradient(white,white) no-repeat 100% bottom / 20% 68%;
  z-index: 4;
  will-change: transform;
  transition: transform 1s ease-out;
}



.running_line_cont {
  height: 125svh;
  background: white;
position: relative;
overflow: hidden;
}

.line_cont {
  /* border: greenyellow solid; */
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  will-change: transform;
  position: relative;
  align-self: center;
}

.top_cont{
  height: 100%;
  display: flex;
  position: relative;
  background: mistyrose;
  
}


.velocity {
  font-size: 5em;
  color: red;
  align-self: center;
  position: fixed;
}

.line_bg {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 8%;
  display: flex;
  flex-direction: column;
  border-top:solid 1px #948e9973;
  border-bottom:solid 1px #948e9973;
  overflow: hidden;
/* flex-grow: 1; */
}

.line_cont > p {
  white-space: nowrap;
  text-align: center;
  line-height: 0.8;
  background-clip: text;
  -webkit-background-clip: text;
  /* width: 0 ; */
  color: transparent;
  /* background: transparent; */
  
/* mix-blend-mode: difference; */
  background-image: linear-gradient(to right, #948e99, rgba(255, 228, 225, 0.802), #948e99);
  /* background-image: linear-gradient( 74deg, #d9a7c7cf, #fffcdc9e, #d9a7c7cc); */
  letter-spacing: 0.1px;
  font-size: 
  clamp(13svh,10vw,13vw);
  font-family: Futura;
  font-weight: 570;
  transform: none;
  /* overflow-x: hidden; */
  /* border: solid 1px green; */

}

.first {
  background-color: red;

}
.line1 {
  transform: translateX(var(--translateLine1)) translateZ(0);
   /* transition: transform .05s; */
}


.line2 {
  transform: translateX(var(--translateLine2)) translateZ(0);
}

.first_bg {
  /* background: url('assets/2148518396.jpg') center / 100%; */
  flex-grow: 1;
  /* background: lightblue; */
  /* background: url('assets/2148518396.jpg') center / cover; */
}


.decor_cont {
  --decor_hidden: 1;
width: fit-content;
position: absolute;
bottom: 38svh; 
/* минус 13 свх хедера в доплоненнии 125-100 = сдвинуть на 25 вверх + 13 тк нижен на 13 изза хедера */
 /* opacity: var(--decor_hidden); */
height: fit-content;
z-index: 4;
display: flex;
left: 50%;
transform: translateX(-50%) translateY(-50%);
gap: 2vw;
transition: opacity 0s 0.2s ;
}
.decor_inner {
  border: solid #b387c1 1px;
  border-radius: 45px;
  backdrop-filter: blur(3px);
  overflow: hidden;
}
.decor_text{
text-transform: uppercase;
font-size: 4vw;
font-family: Futura;
color: mistyrose;
line-height: 1;
padding-inline: 2vw;
display: flex;
  flex-direction: column;
  position: relative;
transition: transform 0.25s ease-out;
will-change: transform;
}

.decor_inner:hover .decor_text { 
  transform: translateY(-100%);
}

.decor_text::before{
  content: 'work';
  font-size: inherit;
  transform: translateY(100%);
  position: absolute; 
  will-change: transform;
}

.aside_cont {
  /* border: blue solid; */
  transform: translateX(-25%) rotate(-90deg);
  width: fit-content;
  position: fixed;
  z-index: 2;
  bottom: 5vw;
  line-height: 1;
  
  
}

.aside_text {
  font-family: Futura;
  color:white;
  font-size: 2vw;
  
}



.canvas_section{
  height: 250svh;
  background-color: rgb(255, 251, 244);
  display: flex;
  justify-content: center;
  /* overflow-y: hidden; */
}

canvas {display: none;}


.inner_area_cont{
  position: relative;
  border: solid blue 1px;
  height: 200svh;
  top: 30svh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  width: 95vw;
}




@media (max-height: 650px) and (max-width: 900px) {
  .inner_area_cont{
    width: 70%;
} 
}

.preloader {
  height: 100svh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background: white;
  display: flex;
  transition: clip-path 1.5s ease-in;
  /* transition: clip-path 1s linear; шторы*/
  /* will-change: clip-path; */
  clip-path: inset(0 0 0%);
  /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%); */
}

.content {
  background-color: white
}

.hide_preloader {
  clip-path: inset(0 0 100%);
  /* clip-path: polygon(
      0% 0%,
      0% 100%, 
      0% 100%,
      0% 0, 
      100% 0,
      100% 100%,
      100% 100%,
      100% 0%); */
}

.precentage {
  align-self: flex-end;
  margin-left: 3vw;
  /* transition: opacity 0.2s margin-bottom 0.2s; */
  animation: transition 0.3s ease-out forwards;
}


img,
video {
  /* border: solid; */
}

@font-face {
  font-family: FuturaPTBook;
  src: url('../public/FuturaPTBook.otf');
}

@font-face {
  font-family: FuturaMedium;
  src: url('../public/FuturaPTMedium.otf');
}

@font-face {
  font-family: DMSans_24pt-Light;
  src: url("../public/DMSans_24pt-Light.ttf");
}

@font-face {
  font-family: AngelList;
  src: url("../public/font_promo");
}

@font-face {
  font-family: futura;
  src: url("../public/FuturaCyrillicLight.ttf");
}

@font-face {
  font-family: DMSans_18_pt-Thin;
  src: url("../public/DMSans_18pt-Thin.ttf");
}

@font-face {
  font-family: DMSans_18pt-ExtraLight;
  src: url("../public/DMSans_18pt-ExtraLight.ttf");
}

@font-face {
  font-family: BebasNeue-Regular ;
  src: url('../public/BebasNeue-Regular.ttf');
}

.App {
  height: fit-content;
}

.content {
  position: relative;
  z-index: 3;
}

.hide_content {
  display: none;
}

.precentage {
  font-family: DMSans_18pt-ExtraLight;
  font-size: 11em;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: RGB(31, 30, 30);
  /* font-weight: 200; */
}

html {
  /* overflow-x: hidden; */
  min-height: 100%;
  height: auto;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.hidden {
  
  clip-path: inset(0px 0px 100%);
}

@media (max-width: 600px) {
  .inner_area_cont{
    width: 90%;
}

  .animateCircles {
    width: 100%;
    }

    .bg_circles_cont {
      height: auto;
      aspect-ratio: 1/1;
    }

    .circles{
      transition: width 1.5s, height 1.5s;

    }



    .void_cont {
      padding-left: 0;
    }

    .footer_area {
      background-size: 14vw 100%;
      
    }

    .footer_blur_cont {
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;

    }
}



@media (max-width:600px) {
  .footer_area {
    background-size: 14vw 100%;
     /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   */
  } 
  
    .origin_h2, .fake_h2{
      font-size: clamp(12svh,8vw,13vw);}

      .bottom-cont{
        right: auto;
      }
    
}


