/*  накинуть м83 саунд как оенто сбоку */
/* · точка  */
/* design development promo */
/* react js 2025 year */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
   /* overflow-x: hidden; */
   font-size: 16px; 
}

video, audio, img {
   display: none;
}
.video{
  height: 100svh;
  object-fit: cover;
  width:100vw;
  /* width: 100vw; */
  /* border: solid; */
  position: absolute;
  display: block;
}
.running_line_cont {
  height: 100svh;
  /* padding-top: 3em; */
  background-color: rgb(255, 251, 244);
  /* background-video: url('../public/assets/63fca69523dfba725518d390_68399bcc53dcba2367185502_hero-4k-transcode.webm'); */
}

.line_cont {
  /* border: greenyellow solid; */
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  /* position: relative; */
  align-self: center;
  /* border:solid 1px #2e1437; */
  /* padding-top:3em */
  /* overflow-x: hidden; */
  /* transition:  transform 0.1s; */
}

.velocity {
  font-size: 5em;
  color: red;
  align-self: center;
  position: fixed;
}

.line_bg {
  width: 100vw;
  height: fit-content;
  background-image: linear-gradient(to right, #948e99, #2e1437);
  display: flex;
  flex-direction: column;
  /* margin-top: 3em; */
  position: absolute;
  top:3em;
  overflow: hidden;
  /* scroll-behavior: ; */
  /* backdrop-filter: blur(5px); */
/* pointer-events: none; */
}

.line_cont > p {
  white-space: nowrap;
  text-align: center;
  line-height: 0.8;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #948e99, #2e1437, #948e99);
  letter-spacing: 0.1px;
  font-size: clamp(13svh,13vw,13vw);
  font-family: DMSans_18pt-ExtraLight;
  font-weight: 570;
  transform: none;
  /* overflow-x: hidden; */
  /* border: solid 1px green; */
  
}

.first {
  background-color: red;

}
.line1 {
  transform: translateX(var(--translateLine1)) translateZ(0);
   /* transition: transform .05s; */
}


.line2 {
  transform: translateX(var(--translateLine2)) translateZ(0);
}


.canvas_section{
  height: 250svh;
  background-color: rgb(255, 251, 244);
  display: flex;
  justify-content: center;
  /* overflow-y: hidden; */
}

canvas {display: none;}


.inner_area_cont{
  position: relative;
  border: solid blue 1px;
  height: 200svh;
  top: 30svh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  width: 95vw;
}

.bg_circles_cont {
  width: 100%;
  border: solid;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  height: 80svh;
  /* margin-top:50% ; */
  /* align-self: flex-start; */
  /* top: 0; orign*/
  top: 10svh;
  /* align-self: baseline; */
  /* transform: translateY(-50%); */
  justify-content: center;
  /* background-image: linear-gradient(to right,#6a9113
, #141517 ); origun*/
background: url('./assets/1ea0f73fc0c9e8869fd32a5ff62b982f.gif'
) fixed center / contain no-repeat,
 url('./assets/27e62d217c81325dc738585497eef626.gif')  fixed 10% 10% / 10% no-repeat,
 url('./assets/39b98fd9cfae359c9d1fbee154bd279a.gif') fixed 100% 70% / 30% no-repeat;
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.section_links {
  height: 400svh;
  /* background: pink; */
  /* padding-top: 20svh; */
  /* border: solid purple; */
  position: relative;
  /* height: fit-content; */
  /* overflow: hidden; */
}


/* контролирует высоту секции и область срабатывания анимации */
.element_zero {
  top: 50%;
  height: 200svh;
  /* background-image: linear-gradient(to right,#8E0E00,#1F1C18); */
  position: absolute;
  /* z-index: 2 ; */
  width: 100%;
  /* background-color: pink; */
}

.link_cont {
  position: absolute;
  /* высота 100 прцоентов от родителя чтобы элементы прилепали
   на всем протяжени скролла*/
  width: 100%; 
  height: 100%;
  /* border: #6a9113 solid; */

}

.link1_cont {
background-image: linear-gradient(to right, #304352,#d7d2cc);
  /* border: red; */
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%);
  transition: clip-path 1.5s  ;
  z-index: 2;
  
}

.hide_link1_cont {
  will-change: clip-path;
  clip-path: polygon(
      0% 0%,
      0% 100%, 
      0% 100%,
      0% 0, 
      100% 0,
      100% 100%,
      100% 100%,
      100% 0%);
}

.link2_cont {
  /* background: grey; */
  background-image: linear-gradient(to right, #948e99

  , #2e1437);
  /* filter: drop-shadow(0 0 30px ); */
  z-index: 1;
}

.link {
  top: 0;
  height: 100svh;
  position: sticky;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat  ;
}

.link1 {
  /* background: greenyellow; */
  background-image: url('./assets/11475351.png');
  background-image: url('./assets/d830f3658ac29ca896d6ccb143b1b8a7.gif');
  background-size: 24%;

    /* filter: drop-shadow(0 0 30px pink) drop-shadow(-20px 0 60px pink); */

}

.link2 {
  /* background: blue; */
  background-size: 24%;

  background-image: url('./assets/61e2e59a077a3375e4f7f72939750ca9.gif');
}

.circles{
  /* height: inherit; */
  width: 40%;
   aspect-ratio: 1/1;
  /* border: solid #3C3F42 1px;
   */
    /* border: rgba(172, 255, 47, 0.808) solid 1px;origin */
    border: black solid 1px;
    filter: drop-shadow(0 0 5px black);
  border-radius: 50%;
  /* position: relative; */
  transition: width 1s, height 1s;
  /* display: flex;
  justify-content: center; */
  /* filter: drop-shadow(0px 0px 5px greenyellow) origin*/
}

.animateCircles {
  width: 60%;
  }
  
  .animateCirclesBack {
  width: 40%;
  }


/* @media (max-width: 600px) {
  .inner_area_cont{
    width: 90%;
}

  .animateCircles {
    width: 100%;
    }

    .bg_circles_cont {
      height: auto;
      aspect-ratio: 1/1;
    }

    .circles{
      transition: width 1.5s, height 1.5s;

    }

    .nav_cont  {
      left: 50%;
      transform: translateX(-50%);
    }
} */

@media (max-height: 650px) and (max-width: 900px) {
  .inner_area_cont{
    width: 70%;
} 

.animateCircles {
  width: 85%;
  }
}



.circles::before{
  content: '';
  width: 50%;
  border: inherit;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: inherit;
}

.circles::after{
  content: '';
  width: 12.5%;
  border: inherit ;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: inherit;
}



.preloader {
  height: 100svh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background: white;
  display: flex;
  transition: clip-path 1.5s ease-in;
  /* transition: clip-path 1s linear; шторы*/
  /* will-change: clip-path; */
  clip-path: inset(0 0 0%);
  /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%); */
}

.content {
  background-color: pink;
}

.hide_preloader {
  clip-path: inset(0 0 100%);
  /* clip-path: polygon(
      0% 0%,
      0% 100%, 
      0% 100%,
      0% 0, 
      100% 0,
      100% 100%,
      100% 100%,
      100% 0%); */
}

.precentage {
  align-self: flex-end;
  margin-left: 3vw;
  /* transition: opacity 0.2s margin-bottom 0.2s; */
  animation: transition 0.3s ease-out forwards;
}

@keyframes transition {
  to {
  }
}

img,
video {
  /* border: solid; */
}

@font-face {
  font-family: DMSans_24pt-Light;
  src: url("../public/DMSans_24pt-Light.ttf");
}

@font-face {
  font-family: AngelList;
  src: url("../public/font_promo");
}

@font-face {
  font-family: futura;
  src: url("../public/FuturaCyrillicLight.ttf");
}

@font-face {
  font-family: DMSans_18_pt-Thin;
  src: url("../public/DMSans_18pt-Thin.ttf");
}

@font-face {
  font-family: DMSans_18pt-ExtraLight;
  src: url("../public/DMSans_18pt-ExtraLight.ttf");
}

.App {
  height: fit-content;
}

.content {
}

.hide_content {
  display: none;
}

.precentage {
  font-family: DMSans_18pt-ExtraLight;
  font-size: 11em;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: RGB(31, 30, 30);
  /* font-weight: 200; */
}

html {
  /* overflow-x: hidden; */
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background-image: url("assets/08_3D_Receipt.png");
  height: 50svh;
  width: 50vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
  transition: top 1s, opacity 1s, clip-path 1.5s;
  clip-path: inset(0px 0px 0px);
}

.hidden {
  /* top: -5em; */
  clip-path: inset(0px 0px 100%);
}

.footer {
background-color: black;
/* 050908 */
  height: 100svh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* центрируем все элементы  */
  overflow: hidden;
  transform-style: preserve-3d; /* Добавить */
}

.arrow_cont{
  height: 125px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* border: solid 1px rgba(255, 255, 255, 0.3); */
    position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  justify-content: center;
}

.arrow_cont::before {
  content: '';
  width: 100%;
  height: 100%;
  will-change: transform;
  border-radius: 50%;
  /* border: 1px rgba(255, 255, 255, 0.3) solid; */
  border-top: 2px #2e1437 solid;
  position: absolute;
}

.arrow {
color: rgba(255, 255, 255, 0.3);  
transition: transform 0.7s;

}

.arrow_cont:hover::before{
  animation: arrow_hover 0.7s ;
}

.arrow_cont:hover .arrow {
  transform: scale(0.9);
}

@keyframes arrow_hover {
from {
  /* border-top: 1px rgba(46, 20, 55, 0.3) solid; */
  transform: rotate(0deg);
}
to { transform: rotate(360deg);
  /* border-top: 1px rgba(46, 20, 55, 0.3) solid;} */
}
}

.middle {
  pointer-events: none;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateZ(0deg);
  position: relative;
  z-index: -1;
  width: 100%; /* Расширяем дочерний контейнер на всю ширину родителя */
  height: 100%;
  animation: rotate_footer 60s linear infinite; 
  left: 10%;
  /* вращение по кругу вокруг своей оси  */
  /* background: white; */
}
.threedspan{
font-family: DMSans_18_pt-Thin;
font-size: 3em;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
color: transparent;
background-image: linear-gradient(to right, #948e99, #2e1437, #948e99);
text-transform: uppercase;
text-decoration: overline 1px #2e1437;
position: absolute;
top: 50%;
left: 50%;
will-change: transform;
/* Центрируем каждый span относительно своей собственной точки */
transform:   translate(-50%, -50%) /* Центрирование для 3д*/
rotateY(calc(var(--i) * (360deg / 14)))  
translateZ(300px)
scale(0.7); 
-moz-transform:   translate(-50%, -50%) /* Центрирование для 3д*/
rotateY(calc(var(--i) * (360deg / 14)))  
translateZ(300px)
scale(0.7); 
/* верхние 2 контролирует размер и перспектива но старшем блоке */
/* раскидываем  */
}

@keyframes rotate_footer {
  from {
    transform: rotateX(20deg) rotateZ(-10deg) rotateY(0);
    -moz-transform: rotateX(20deg) rotateZ(-10deg) rotateY(0);

  }
  to {
    transform: rotateX(20deg) rotateZ(-10deg) rotateY(360deg) ;
    -moz-transform: rotateX(20deg) rotateZ(-10deg) rotateY(360deg) 

  };
  
}

.nav_cont {
  color: white;
  position: absolute;
  left: 0;
  line-height: 1;
}



.footer_nav {
  padding-left: 25%;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  letter-spacing: 1px;
  width: fit-content;
  backdrop-filter: blur(2px);
  background-color: rgba(46, 20, 55, 0.1);
  font-family: DMSans_24pt-Light
}

.origin_h2, .fake_h2{
  font-size: clamp(12svh,11vw,13vw);
  position: relative;
  /* margin-bottom: 0.25em; */
  display: flex;
  -webkit-background-clip: text;
  font-family: DMSans_18_pt-Thin;
  /* font-size: 11vw; */
}

.fake_h2 {
  position: absolute;
  transition: clip-path 0.5s ease;
  clip-path: inset( 0 0 0 0 );
  top: 0;
  color: white;
}

.origin_h2 {
  color: transparent;
  background-image:  linear-gradient(to right, #948e99, #2e1437);
  transition: transform 0.7s;

}

.h2_cont:hover .fake_h2{
  clip-path: inset( 0 50% 0 50% );
  }

.origin_h2::after {
  content: '©';
  display: inline;
  /* position: absolute; */
  font-size: 0.25em;
  padding-top: 0.6em;
  align-self: baseline;
  /* top: 20%; */
  clip-path: none;
}

.fake_h2::after {
  content: '©';
  display: inline;
  /* position: absolute; */
  font-size: 0.25em;
  padding-top: 0.6em;
  align-self: baseline;
  /* top: 20%; */
  clip-path: none;
}

.fake_h2::before {
  content: '';
  display: block;
  position: absolute;
  clip-path: none;
  height: 95%;
  width: 8%;
  border: solid 2px white;
  z-index: 2;
  /* left: -1%; */
}

.footer_nav > a {
  font-size: 1.3em;
  padding-bottom: 0.35em;
  position: relative;
  left: 0;
  transition: left 0.6s, color 0.5s, transform 0.3s ;
  width: fit-content;
  /* text-shadow: 0 0 10px; */
}

.footer_nav > a:hover {
  left: -1em;
  color: #948e99;
  transform: scale(1.2);
}

.h2_cont{
  /* border: solid white; */
  
overflow: visible;
}

 .h2_cont:hover  .origin_h2 {
  transform: scale(0.7);
 }

@media (max-width: 600px) {
  .inner_area_cont{
    width: 90%;
}

  .animateCircles {
    width: 100%;
    }

    .bg_circles_cont {
      height: auto;
      aspect-ratio: 1/1;
    }

    .circles{
      transition: width 1.5s, height 1.5s;

    }

    .nav_cont  {
      left: 50%;
      transform: translateX(-50%);
    }

    .footer_nav {
      padding-left: 0;
    }
}

.bottom_cont {
  width: fit-content;
  color: white;
  /* font-family: Roboto flex */
  align-self: flex-end;
  right:0;
  white-space: nowrap;
  font-size: 1vw;
  padding-bottom: 0.5svh;
  padding-right: 1vw;
  position: absolute;
}