/* рабочее названия - VOID */
/*  слайд цветотой палтры  */
/*  накинуть м83 саунд как оенто сбоку */
/* · точка  */
/* design development promo */
/* react js 2025 year */
/* 1440 4k - размер букв бг кольца  */
/* заменить цвет при наведении  */
/* убирать границу при наведении нижних скейлить подсвечивать добавить 1 пункт и подпись для стрелки */

/* адаптив  */
/* футер лай н фон 7вв во всю строку  */
/* убрать лого справа  */
/* добавит комплект нижних ссылок других на моб версию по раскрывающемуся меню  */
/* тексит ссылок большой во всю ширину  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: content-box;
  padding-top: 4svh;
  display: flex;
  position: relative;
background: white;
z-index: 3;
justify-content: center;
height: 13svh;

}


.header_left_cont, .header_right_cont {
  /* border: solid red; */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_decor_cont {
  border-radius: 25px;
  height: 50%;
  width: fit-content;
  border: blue solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5%;
}

.header_decor_text{
  
  font-family: Futura;
  text-transform: uppercase;
}

.header_center_cont{
  /* align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: FuturaPTBook;
letter-spacing: 0.05em;
  font-size: 3.5vw;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  height: 100%;
  width: auto;
  /* mix-blend-mode: difference; */
  
}

.header_text_cont {
  white-space: nowrap;
  /* mix-blend-mode: difference; */

}



.header_mini_bg {
  height: 7svh;
aspect-ratio: 1/1;
  background: url('assets/203195-abstract-purple-and-black-blur-gradient-background (2).jpg') center / cover  ;
  filter: brightness(70%);
  border-radius: 50%;
  /* animation: mini 20s infinite; */
  position: relative;
}



@keyframes mini {
  from{
    background: url('assets/2148817520.jpg') center / cover  ;
  }
  25% {
    background: url('assets/203195-abstract-purple-and-black-blur-gradient-background (2).jpg') center / cover  ;
  }
  50% {
    background: url('assets/StockCake-Pause and Reflect_1754276888.jpg') center / cover  ;
  }
  75% {
    background: url('assets/397024371_11538707.jpg') center / cover  ;
  }
  to {
    background: url('assets/2148817520.jpg') center / cover  ;
  }
}
html { 
   /* overflow-x: hidden; */
   font-size: 16px; 

}

a {
  transition: color 0.3s, opacity 0.3s;
}

video, audio, img {
   display: none;
}

.cp {
  clip-path: inset(0% 0% 0% 0%) !important;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.cp_point {position: absolute;
width: 10px;
height: 10px;
top: 101svh;
z-index: 10;}

.top_line_outter {
/* background: url('assets/2148817520.jpg') top / cover fixed ; */

/* background-image: linear-gradient(to right, #948e99, #2e1437, #948e99); */
/* filter: hue-rotate(315deg); */
  width: 100%;
  height: 100%;
  clip-path: inset(4% 2% 0 2% );
  border: 1px solid #cccccc6e;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  overflow: hidden;
transition: clip-path 0.7s ease-out;
/* display: flex; */
will-change: clip-path ;
}

.top_line_outter::before {
  content: '';
  position: fixed;
  top: 0svh;
  /* clip-path: inset(5% 2% 0 2% ); */
  left: 0;
  /* нужен лефт убрать полосу слева отступ непонятный */
  width: 100%;
  height: 100svh;
  background: 
  url('assets/2148817520.jpg') top / cover;
  /* z-index: -1; */
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  will-change: clip-path ;
  /* border-radius: 25px; */
  /* animation: bg 1s 5s forwards; */
}

.transition {
  --transition: 150svh;
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(var(--transition));
  background:    
  linear-gradient( white, white) no-repeat 0% bottom / 20% 90% ,
  linear-gradient(white, white) no-repeat 25% bottom / 21% 87% ,
  linear-gradient(white,white) no-repeat 50% bottom / 21% 86% ,
  linear-gradient(white,white) no-repeat 75% bottom / 21% 83% ,
  linear-gradient(white,white) no-repeat 100% bottom / 20% 80%;
  z-index: 4;
  will-change: transform;
  transition: transform 1s ease-out;
}





.transition_point {
  height: 100svh;
  width: 10px;
  position: absolute;
  top: 0;
  /* transform: translateY(50%); */
  right: 0;
  /* position: relative; */
  z-index: 77;
  background: mistyrose;
}




.running_line_cont {
  height: 125svh;
  background: white;
position: relative;
overflow: hidden;
}

.line_cont {
  /* border: greenyellow solid; */
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  will-change: transform;
  position: relative;
  align-self: center;
}

.top_cont{
  height: 100%;
  display: flex;
  position: relative;
  background: mistyrose;
  
}


.velocity {
  font-size: 5em;
  color: red;
  align-self: center;
  position: fixed;
}

.line_bg {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 8%;
  display: flex;
  flex-direction: column;
  border-top:solid 1px #948e9973;
  border-bottom:solid 1px #948e9973;
  overflow: hidden;
/* flex-grow: 1; */
}

.line_cont > p {
  white-space: nowrap;
  text-align: center;
  line-height: 0.8;
  background-clip: text;
  -webkit-background-clip: text;
  /* width: 0 ; */
  color: transparent;
  /* background: transparent; */
  
/* mix-blend-mode: difference; */
  background-image: linear-gradient(to right, #948e99, rgba(255, 228, 225, 0.802), #948e99);
  /* background-image: linear-gradient( 74deg, #d9a7c7cf, #fffcdc9e, #d9a7c7cc); */
  letter-spacing: 0.1px;
  font-size: 
  clamp(13svh,10vw,13vw);
  font-family: Futura;
  font-weight: 570;
  transform: none;
  /* overflow-x: hidden; */
  /* border: solid 1px green; */

}

.first {
  background-color: red;

}
.line1 {
  transform: translateX(var(--translateLine1)) translateZ(0);
   /* transition: transform .05s; */
}


.line2 {
  transform: translateX(var(--translateLine2)) translateZ(0);
}

.first_bg {
  /* background: url('assets/2148518396.jpg') center / 100%; */
  flex-grow: 1;
  /* background: lightblue; */
  /* background: url('assets/2148518396.jpg') center / cover; */
}


.decor_cont {
  --decor_hidden: 1;
width: fit-content;
position: absolute;
bottom: 38svh; 
/* минус 13 свх хедера в доплоненнии 125-100 = сдвинуть на 25 вверх + 13 тк нижен на 13 изза хедера */
 /* opacity: var(--decor_hidden); */
height: fit-content;
z-index: 4;
display: flex;
left: 50%;
transform: translateX(-50%) translateY(-50%);
gap: 2vw;
transition: opacity 0s 0.2s ;
}
.decor_inner {
  border: solid #b387c1 1px;
  border-radius: 45px;
  backdrop-filter: blur(3px);
  overflow: hidden;
}
.decor_text{
text-transform: uppercase;
font-size: 4vw;
font-family: Futura;
color: mistyrose;
line-height: 1;
padding-inline: 2vw;
display: flex;
  flex-direction: column;
  position: relative;
transition: transform 0.25s ease-out;
will-change: transform;
}

.decor_inner:hover .decor_text { 
  transform: translateY(-100%);
}

.decor_text::before{
  content: 'work';
  font-size: inherit;
  transform: translateY(100%);
  position: absolute; 
  will-change: transform;
}

.aside_cont {
  /* border: blue solid; */
  transform: translateX(-25%) rotate(-90deg);
  width: fit-content;
  position: fixed;
  z-index: 2;
  bottom: 5vw;
  line-height: 1;
  
  
}

.aside_text {
  font-family: Futura;
  color:white;
  font-size: 2vw;
  
}



.canvas_section{
  height: 250svh;
  background-color: rgb(255, 251, 244);
  display: flex;
  justify-content: center;
  /* overflow-y: hidden; */
}

canvas {display: none;}


.inner_area_cont{
  position: relative;
  border: solid blue 1px;
  height: 200svh;
  top: 30svh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  width: 95vw;
}
.section_links {
  height: 400svh;
  /* background: pink; */
  /* padding-top: 20svh; */
  /* border: solid purple; */
  position: relative;
  /* height: fit-content; */
  /* overflow: hidden; */
}


/* контролирует высоту секции и область срабатывания анимации */
.element_zero {
  top: 50%;
  height: 200svh;
  /* background-image: linear-gradient(to right,#8E0E00,#1F1C18); */
  position: absolute;
  /* z-index: 2 ; */
  width: 100%;
  /* background-color: pink; */
}

.link_cont {
  position: absolute;
  /* высота 100 прцоентов от родителя чтобы элементы прилепали
   на всем протяжени скролла*/
  width: 100%; 
  height: 100%;
  /* border: #6a9113 solid; */

}

.link1_cont {
background-image: linear-gradient(to right, #304352,#d7d2cc);
  /* border: red; */
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%);
  transition: clip-path 1.5s  ;
  z-index: 2;
  
}

.hide_link1_cont {
  will-change: clip-path;
  clip-path: polygon(
      0% 0%,
      0% 100%, 
      0% 100%,
      0% 0, 
      100% 0,
      100% 100%,
      100% 100%,
      100% 0%);
}

.link2_cont {
  /* background: grey; */
  background-image: linear-gradient(to right, #948e99

  , #2e1437);
  /* filter: drop-shadow(0 0 30px ); */
  z-index: 1;
}

.link {
  top: 0;
  height: 100svh;
  position: sticky;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat  ;
}

.link1 {
  /* background: greenyellow; */
  background-image: url('./assets/11475351.png');
  /* background-image: url('./assets/d830f3658ac29ca896d6ccb143b1b8a7.gif'); */
  background-size: 24%;

    /* filter: drop-shadow(0 0 30px pink) drop-shadow(-20px 0 60px pink); */

}

.link2 {
  /* background: blue; */
  background-size: 24%;
background: lawngreen;
  /* background-image: url('./assets/61e2e59a077a3375e4f7f72939750ca9.gif'); */
}

.circles{
  /* height: inherit; */
  width: 40%;
   aspect-ratio: 1/1;
  /* border: solid #3C3F42 1px;
   */
    /* border: rgba(172, 255, 47, 0.808) solid 1px;origin */
    border: black solid 1px;
    /* filter: drop-shadow(0 0 5px black); */
  border-radius: 50%;
  /* position: relative; */
  transition: width 1s, height 1s;
  /* display: flex;
  justify-content: center; */
  /* filter: drop-shadow(0px 0px 5px greenyellow) origin*/
}

.animateCircles {
  width: 60%;
  }
  
  .animateCirclesBack {
  width: 40%;
  }


/* @media (max-width: 600px) {
  .inner_area_cont{
    width: 90%;
}

  .animateCircles {
    width: 100%;
    }

    .bg_circles_cont {
      height: auto;
      aspect-ratio: 1/1;
    }

    .circles{
      transition: width 1.5s, height 1.5s;

    }

    .nav_cont  {
      left: 50%;
      transform: translateX(-50%);
    }
} */

@media (max-height: 650px) and (max-width: 900px) {
  .inner_area_cont{
    width: 70%;
} 

.animateCircles {
  width: 85%;
  }
}



.circles::before{
  content: '';
  width: 50%;
  border: inherit;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: inherit;
}

.circles::after{
  content: '';
  width: 12.5%;
  border: inherit ;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: inherit;
}



.preloader {
  height: 100svh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background: white;
  display: flex;
  transition: clip-path 1.5s ease-in;
  /* transition: clip-path 1s linear; шторы*/
  /* will-change: clip-path; */
  clip-path: inset(0 0 0%);
  /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%); */
}

.content {
  background-color: white
}

.hide_preloader {
  clip-path: inset(0 0 100%);
  /* clip-path: polygon(
      0% 0%,
      0% 100%, 
      0% 100%,
      0% 0, 
      100% 0,
      100% 100%,
      100% 100%,
      100% 0%); */
}

.precentage {
  align-self: flex-end;
  margin-left: 3vw;
  /* transition: opacity 0.2s margin-bottom 0.2s; */
  animation: transition 0.3s ease-out forwards;
}

@keyframes transition {
  to {
  }
}

img,
video {
  /* border: solid; */
}

@font-face {
  font-family: FuturaPTBook;
  src: url('../public/FuturaPTBook.otf');
}

@font-face {
  font-family: DMSans_24pt-Light;
  src: url("../public/DMSans_24pt-Light.ttf");
}

@font-face {
  font-family: AngelList;
  src: url("../public/font_promo");
}

@font-face {
  font-family: futura;
  src: url("../public/FuturaCyrillicLight.ttf");
}

@font-face {
  font-family: DMSans_18_pt-Thin;
  src: url("../public/DMSans_18pt-Thin.ttf");
}

@font-face {
  font-family: DMSans_18pt-ExtraLight;
  src: url("../public/DMSans_18pt-ExtraLight.ttf");
}

@font-face {
  font-family: BebasNeue-Regular ;
  src: url('../public/BebasNeue-Regular.ttf');
}

.App {
  height: fit-content;
}

.content {
  position: relative;
  z-index: 3;
}

.hide_content {
  display: none;
}

.precentage {
  font-family: DMSans_18pt-ExtraLight;
  font-size: 11em;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: RGB(31, 30, 30);
  /* font-weight: 200; */
}

html {
  /* overflow-x: hidden; */
  min-height: 100%;
  height: auto;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background-image: url("assets/08_3D_Receipt.png");
  height: 50svh;
  width: 50vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
  transition: top 1s, opacity 1s, clip-path 1.5s;
  clip-path: inset(0px 0px 0px);
}

.hidden {
  /* top: -5em; */
  clip-path: inset(0px 0px 100%);
}

.footer {
/* 050908 */
  height: 100svh;
  width: 100vw;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* центрируем все элементы  */
  overflow: hidden;
  transform-style: preserve-3d; /* Добавить */
  background: url(assets/lines-icon-1317362-512.png)90% 10% / 10% no-repeat;
    z-index: 2;
  top: 0;
  position: fixed;
}
.decor_snow {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  left: 5%;
  width: 200px;
  aspect-ratio: 1;
  border: #f5f5dc37 solid 1px;
  filter: blur(2px);
box-shadow: 10px 10px 10px 1px #948e99;
  /* background: #f5f5dc4a ; */
  animation: decor 20s infinite linear ;
}

@keyframes decor {
  from {
    box-shadow: 10px 10px 5px 1px #948e99;

  }
  50% {
    box-shadow: 5px -5px 5px 1px #2e1437;
  }

  100% {
    box-shadow: 10px 10px 5px 1px #948e99;

  }
}



  

.arrow_cont{
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* border: solid 1px rgba(255, 255, 255, 0.3); */
    position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  justify-content: center;
}

.arrow_cont::before {
  content: '';
  width: 100%;
  height: 100%;
  will-change: transform;
  border-radius: 50%;
  /* border: 1px rgba(255, 255, 255, 0.3) solid; */
  border-top: 2px #2e1437 solid;
  position: absolute;
}

.arrow {
color: rgba(255, 255, 255, 0.3);  
transition: transform 0.7s;

}

.arrow_cont:hover::before{
  animation: arrow_hover 0.7s ;
}

.arrow_cont:hover .arrow {
  transform: scale(0.9);
}

@keyframes arrow_hover {
from {
  /* border-top: 1px rgba(46, 20, 55, 0.3) solid; */
  transform: rotate(0deg);
}
to { transform: rotate(360deg);
  /* border-top: 1px rgba(46, 20, 55, 0.3) solid;} */
}
}

.middle {
  pointer-events: none;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateZ(0deg) translateZ(0);
  -moz-transform: rotateX(-20deg) rotateZ(0deg) translateZ(0);
  -webkit-transform: rotateX(-20deg) rotateZ(0deg) translateZ(0);
 

  position: relative;
  z-index: -1;
  width: 100%; /* Расширяем дочерний контейнер на всю ширину родителя */
  height: 100%;
  animation: rotate_footer 100s linear infinite; 
  left: 10%;
  /* вращение по кругу вокруг своей оси  */
  /* background: white; */
}
.threedspan{
font-family: DMSans_18_pt-Thin;
/* display: inline-block; Inline-block может решить ваши проблемы */
font-size: 3em;
text-shadow:  0 0 5px #bb86fc29;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image: linear-gradient(to right, #948e99b1, #2e1437b0, #948e99);
text-transform: uppercase;
text-decoration: overline 1px #2e1437;
position: absolute;
top: 50%;
left: 50%;
will-change: transform;
/* Центрируем каждый span относительно своей собственной точки */
transform:   translate(-50%, -50%) /* Центрирование для 3д*/
rotateY(calc(var(--i) * (360deg / 14)))  
translateZ(300px)
scale(0.7); 
-moz-transform:   translate(-50%, -50%) /* Центрирование для 3д*/
rotateY(calc(var(--i) * (360deg / 14)))  
translateZ(300px)
scale(0.7); 
-webkit-transform:   translate(-50%, -50%) /* Центрирование для 3д*/
rotateY(calc(var(--i) * (360deg / 14)))  
translateZ(300px)
scale(0.7); 
/* верхние 2 контролирует размер и перспектива но старшем блоке */
/* раскидываем  */
}

.firefox_span {
  color: #caaed4; /* fallback для Firefox */
  -webkit-background-clip: none;
  background-clip: none ;
}


@supports not (-webkit-background-clip: text) {
  .gradient-text {
    color: #2e1437; /* fallback для Firefox */
    -webkit-background-clip: none;
  }
}

@keyframes rotate_footer {
  from {
    transform: rotateX(20deg) rotateZ(-10deg) rotateY(0);
    -moz-transform: rotateX(20deg) rotateZ(-10deg) rotateY(0);
    -webkit-transform: rotateX(20deg) rotateZ(-10deg) rotateY(0) ;
  }
  to {
    transform: rotateX(20deg) rotateZ(-10deg) rotateY(360deg) ;
    -moz-transform: rotateX(20deg) rotateZ(-10deg) rotateY(360deg) ;
    -webkit-transform: rotateX(20deg) rotateZ(-10deg) rotateY(360deg) ;

  };
  
}

.nav_cont {
  color: white;
  position: absolute;
  /* left: 0; */
  width: 100%;
height: 40svh;
  line-height: 1.1;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1.5px);
  background-color: rgba(0, 0, 0, 0.1);


}



.footer_nav {
  padding-left: 8%;
  left: 0;
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  letter-spacing: 1px;
  font-family: DMSans_24pt-Light
}

.origin_h2, .fake_h2{
  font-size: 11svh;
  position: relative;
  /* margin-bottom: 0.25em; */
  display: flex;
  -webkit-background-clip: text;
  font-family: Futura !important;
  /* font-size: 11vw; */
  letter-spacing: 4px;
  top: 50%;
}

.fake_h2 {
  position: absolute;
  transform: translateZ(0);
  will-change: clip-path;
  transition: clip-path 0.7s ease-out;
  clip-path: inset( 0 0 0 0 );
  top: 0;
  color: #ccc;
   /* margin-bottom: 10px; */
  /* clip-path: polygon(0 3%, 0 48%, 100% 48%, 100% 52%, 0 52%, 0 100%, 100% 100%, 100% 0); */
}

.origin_h2 {
  color: transparent;
  background-image:  linear-gradient(to right, #948e99, #2e1437, #948e99);
  transition: transform 0.5s;
  opacity: 0;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  /* display: none; */

}

.h2_cont:hover .fake_h2{
  clip-path: inset(50% 0 50% 0% );
  }

.origin_h2::after {
  content: '©';
  display: inline;
  /* position: absolute; */
  font-size: 0.25em;
  padding-top: 0.6em;
  align-self: baseline;
  /* top: 20%; */
  clip-path: none;
}

.fake_h2::after {
  content: '©';
  display: inline;
  /* position: absolute; */
  font-size: 0.25em;
  padding-top: 0.6em;
  align-self: baseline;
  /* top: 20%; */
  clip-path: none;
}

/* .d::before {
  content: none !important;
}
.d::after {
  content: none;
} */
/* .d { */
  /* position: relative; */
  /* -webkit-text-stroke: 1px #cccccc38 !important ; */
  /* font-family: DMSans_18pt-ExtraLight !important; */
  /* color: transparent !important */
/* } */

.fake_h2::before {
  content: '';
  display: block;
  position: absolute;
  clip-path: none;
  height: 97%;
  width: 20%;  
  border-top: solid 1px #9471b1;
  z-index: 2;
  /* border-radius: 10px; */
  
}


.footer_nav > a:hover {
  left: -1em;
  color: #948e99;
  transform: scale(1.2);
}

.h2_cont{
margin-bottom: 1em;  
overflow: visible;
width: fit-content;
display: flex;
}

 .h2_cont:hover  .origin_h2 {
  transform: scale(0.7) translateZ(0);
  /* text-shadow: 20px 0px 10px  */
 }

@media (max-width: 600px) {
  .inner_area_cont{
    width: 90%;
}

  .animateCircles {
    width: 100%;
    }

    .bg_circles_cont {
      height: auto;
      aspect-ratio: 1/1;
    }

    .circles{
      transition: width 1.5s, height 1.5s;

    }



    .footer_nav {
      padding-left: 0;
    }

    .footer_area {
      background-size: 14vw 100%;
      /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */
    }

    .nav_cont {
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;

    }
}

.bottom_cont {
  width: fit-content;
  color: #cccccc93;
  /* font-family: Roboto flex */
  align-self: flex-end;
  right:0vw;
  white-space: nowrap;
  font-size: 1vw;
  padding-bottom: 0.5svh;
  padding-right: 1vw;
  position: absolute;
}


.toppanel_outter {
/* border: solid white 1px; */
position: absolute;
top: 5%;
width: 15vw;
height: 10svh;

left: 5%;


}



.toppanel_inner {

  height: 100%;
  /* width: 10vw; */
  width: 45vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  /* border-radius: 25px ; */
  border-top: solid #f5f5dc4a 1px;
  border-left: none;
}



.bottom-line-elements{
  pointer-events: none;
  transition: color 0.3s,opacity 0.3s;
}

.text_line_bottom {
  display: inline;
  position: relative;
  pointer-events: all;
}

.text_line_bottom:hover {  
  color: #9471b1;
}

.rinning_line_footer:hover .bottom-line-elements {
  opacity: 0;
  /*  */
}

.rinning_line_footer:hover{
  transition-delay: 0.15s;
  z-index: 2;
}

.rinning_line_footer:hover .text_line_bottom:hover  {
  opacity: 1
  /* убирать через клиппфа */
}


.audio_control{
width: fit-content;
height: 100%;
border: none;
background: none;
position: relative;
z-index: 3;
box-shadow:0 0 10px 10px black;
background: black;
}



.rinning_line_footer {
  color: #cccccccf;
  white-space: nowrap;
  font-family: Futura;
  font-size: 2vw;
  /* 2vw for wide  */
  display: flex;
  align-items: center;
  z-index: 0; /* Начальное значение */
  /* position: relative; */
  will-change: transform;  /* width: 50%; */
  animation: line2 linear infinite 35s;
  /* padding-left: 50px; */
  
}

@keyframes line2 {
  from {
    transform: translateX(-50%) translateZ(0);
  }
  to {
    transform: translateX(0%) translateZ(0);
  }
  
}

.toppanel_inner::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* убирать на мобильном */
   background-image: linear-gradient(to right, black 12%, transparent 20% 85%, black 99%)
}

.pause {
  border-top: 0;
  border-bottom: 0;
}


/* на моб высота 7свх */
/* контенйнер ниже  */
/* строку во всю ширину  */
.label {
  display: block;
  height: 10svh;
  border:none;
  transition: box-shadow 1s;
  /* filter: drop-shadow(-20px 0 10px #948e99); */
  /* background-image: linear-gradient(75deg, transparent,black); */
  opacity: 0.8;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  transform: rotate(0.5deg);
  /* position: relative; */
  /* z-index: 3; */
  /* animation: label 0.3s ease 5s infinite; */
}







.footer_area {
  height: 100svh;

  pointer-events: none;
  width: 50%;
  width: 100vw;
  /* background-color: url(assets/lines-icon-1317362-512.png)90% 10%  black; */
  background: black;
/* background-repeat: no-repeat; */
  position: absolute;
  /* clip-path: polygon(25% 0%, 100% 0%, 50% 100%, 0% 100%); */
      z-index: 1;

  /* background-image: linear-gradient( to right,black, */
  /* #cccccc73 1px,  */
   /* Цвет линии и ее толщина */
  /* transparent 1px); */
  /* background-size: 4vw 100%; */
  left: 0;
}


.footer_area::before {
  content: '';          
  display: block;
  height: 100svh;
  width: 50%;

  /* background-image: linear-gradient( to right,
  #ccc 1px, 
   
  transparent 1px);
  background-size: 4vw 100%;  */
 }  

 .footer_bg {
/* height: fit-content; */
/* width: fit-content; */
width: 7%;
height: 5%;
z-index: -1;
/* transform: translateX(25%); */
top: 5%;
right: 3%;
position: absolute;
filter:  brightness(75%) ;
background: linear-gradient(to right,#948e99b1, #2e1437,transparent );
/* 315; */
/* border: solid 1px red; */
display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%); }

 .footer_bg::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  display: block;
  position: absolute;
  clip-path: polygon(35% 0, 20% 100%, 25% 100%, 40% 0, 30% 0, 15% 100%, 10% 100%, 25% 0);;
}

 .circle_animation {
  width: 10%;
  aspect-ratio: 1;
  background: beige;
  border-radius: 50%;
  /* position: relative; */
  animation: identifier 1s infinite;
  animation-delay: var(--i) ;

 }

 @keyframes identifier {
  from {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
  
 }

 .sun {
 display: block ;
 width: 25vw;
/* object-fit: content; */
/* clip-path: polygon(20% 0, 80% 0, 80% 100%, 20% 100%); */
}


@media (max-width:600px) {
  .footer_area {
    background-size: 14vw 100%;
     /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);   */
  } 
  
    .origin_h2, .fake_h2{
      font-size: clamp(12svh,8vw,13vw);}

      .bottom-cont{
        right: auto;
      }

      /* 2.5 , 230 translate */
    
}


.a_cont{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  white-space: nowrap;
display: flex;
/* width: 50vw; */
/* justify-content: space-evenly; */
font-size: 1.1em;
/* text-decoration: overline; */
/* text-decoration-color: ; */
color: #cccccc78; 
padding-bottom: 0.5em;
border-bottom: #cccccc78 1px solid ;
text-align: center;
overflow: hidden;
}

.a_cont  a {
  transition: transform 0.8s, scsle 0.3s, color 0.3s, font-size 0.3s;
  position: relative;
  width: 10vw;
  will-change: transform;
}

.right {
  transform: translateX(30%) ;
}

.left {
  transform: translateX(-30%) ;
}

.center {
  transform: scale(1.2) ;
  color:#ccccccbe;
  
}
.unmove {
  transform: translateX(0%);

}


