.section_links {
    height: fit-content;
    background: white;
    position: relative;
  }

  .h1cont {
    --translateY: 100% ;
    --translateX: 100%;
    --scaleX: 0;
    --scale: 0;
    overflow: hidden;
    padding-top: 30svh;
    padding-bottom: 10svh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(to right, #D3CCE3,#E9E4F0);
    /* background: url(assets/356350758_2de15e56-9f88-4eaa-b759-8502153c8c0d.svg) left center / 40% no-repeat; */
  }

  .decor_snow_outter {
    /* overflow: hidden; */
    position: absolute;
    right: 0vw;
    top: 0svh;
    width: 11%;
    aspect-ratio: 1/1;
    /* opacity: 0.7; */
    transition: transform 0.8s ease-out;
    transform: scale(var(--scale));
  }

  .decor_snow_inner {
    /* transition: transform 1s ease-out;
    transform: scale(var(--scale)); */
  }

  .decor_snow {
    background: url(assets/snow.png) center / cover no-repeat;
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    transform: rotate(0);
    will-change: transform;
    transition: transform 5.7s cubic-bezier(0.17, 0.88, 0.44, 1.25) ;
  }

  .decor_snow:hover{
    transform: rotate(360deg)
  }

  

  /* текст внутри инспайред */
   /* убратьобщий цвет вынести во тдельные цвета  */
.links_text {
    font-size: 12vw;
    font-family: Futura;
    white-space: nowrap;
    line-height: 0.8;
}

  .top_line_inspired {
overflow: hidden;
    display: flex;
}

.lokomotive_cont, .e_cont {
    overflow: hidden;
    display: flex;
    align-items: end;
}

.inspiredcont {
    mix-blend-mode: difference;
    position: relative;
    will-change: transform;
    /* border-radius: 25px; */
    transition: transform 0.5s cubic-bezier(0.17, 0.88, 0.44, 1.25);
    /*  эффект пружины */
    /* cubic-bezier(0.65, 0, 0.35, 1) интересна я лаьтертаивы */
    transform: translateY(var(--translateY)) translateZ(0);
}

.inspired {
    text-transform: uppercase;
    position: relative;
    mix-blend-mode: difference;
    color: white;
}

.inspiredcont::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    /* border-radius: 35px; */

    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.218);
    will-change: transform;
    transform: scaleX(var(--scaleX)); /* Исходное состояние: масштабирование по X до 0 */
    transform-origin: left; /* Точка отсчета для масштабирования */
    transition: transform 0.5s 0.8s ease-out;
    /* чтобы получить черный на инверсии */
}

  .logo {
    background: url('assets/locomotive_mtl_logo.jpeg') 10% center / 25% auto  no-repeat;
    width: 30vw;
height: auto;
transform: translateY(var(--translateY)) translateZ(0);
/* следующие два свойства нужный ТОЛЬКО ПРИ АНИМАЦИИ И ПРИМЕНЕНИИ КЛАССА ХУЕВЕР ТАК 
как без них не работает инвертирование цвета как без включения в хувер */
mix-blend-mode: normal;
filter: invert(0);
transition: transform 0.5s 0.1s ease-out;
opacity: 0.9;
 }


.locomotive {
    margin-left: auto;
    
    color: rgba(0, 0, 0, 0.792);
    transform: translateY(var(--translateY)) translateZ(0);
    transition: transform 0.5s 0.2s
}

.e_cont {
    transform: translateY(-35%);
}
.e {
    margin-left: auto;
    /* line-height: 0.2; */
    color: #2e1437;
    transform: translateY(var(--translateY)) translateZ(0);
    transition: transform 0.5s 0.3s
}

.description_cont {
    position: absolute;
    bottom: 13svh;
    font-family: Futura;
    font-size: 1.5vw;
    padding-left: 2vw;
}


.des_top_cont span {
    transition: transform 0.5s 0.3s;
    transform: translateY(var(--translateY));
    display: block;
}

.des_top_cont {
    overflow: hidden;
}

.des_bottom_cont {
    position: relative;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
}

.des_bottom_cont a {
    transition: transform 0.5s 0.4s;
    transform: translateY(var(--translateY));
    text-decoration: none;
    color: black;
    display: block;
}

.des_bottom_cont::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transition: transform 0.5s 0.4s;
    transform: translateY(var(--translateY));
    background: rgba(0, 0, 0, 0.343);
}

.w_cont{
    overflow: hidden;
    
}

.w_link {
    position: relative;
    overflow: hidden;
    display: block;
    transition: transform 0.5s 0.5s;
transform: translateY(var(--translateY));
}

.w_link svg {
    box-sizing: content-box;
padding-top: 5%;

overflow: hidden;
height: fit-content;
transition: fill 0.3s;

}

.w_link svg:hover  path{
    fill: rgb(134, 106, 128)
}

.w_link svg path{
fill: rgba(0, 0, 0, 0.8);
}

/* end of inspired section */

.workds_cont {
        --bg1:50%;
    --bg2:0;
    --bg3:0;
    --bgY:0;
    height: fit-content;
    border: solid 1px rgba(0, 0, 0, 0.335);
    /* overflow: hidden; */
    background: linear-gradient(to right, #D3CCE3,#E9E4F0);

}

/* counter */
.counter_cont {
position: absolute;
padding: 2vw;
width: fit-content;
height: fit-content;
display: flex;
align-items: center;
justify-content: center;
mix-blend-mode: difference;
display: none;
}

.counter_text {
    font-family: FuturaMedium;
    font-size: 4vw;
    color: black;
    position: relative;
    z-index: 1;
}

.counterbg {
    position: absolute;
    padding: 0;
    height: 45%;
    width: 50%;
    /* border-radius: 25px; */
    /* background: linear-gradient( to right,#948e99b9,#948e99a6) center  no-repeat; */
    background: white;
    mix-blend-mode: normal;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-size: 100% 100%;    
     
}




    
/* end counter styles */

.link_cont {
    height: 125svh;
    display: flex;
    /* overflow: hidden; */
    border: solid 1px rgba(0, 0, 0, 0.54);

}

.linkcont1 {
    /* background: url(assets/18929247_rm167-sasi-72.svg) center / contain no-repeat; */
}

.link_inner_cont {
    font-family: Futura;
    font-size: 7vw;
    height: fit-content;
    mix-blend-mode: difference;
    position: absolute;
}

.inner1 {
    margin-top: 30svh;
    margin-left: 35%;
    transform: translateX(-60%);
    text-transform: uppercase;
}

.inner2 {
    margin-top: 30svh;

}

.inner3 {
    margin-left: 65%;
    transform: translateX(-40%);
    margin-top: 50svh;
}


.links_title {
font-family: FuturaMedium;
color: whitesmoke;
}

    /* .title1 {

    } */

.title2 {
    display: flex;
    /* flex-direction: row;    */
}

.title2::after {
    content: '®';
    font-size: 5vw;
display: block;
height: fit-content;
line-height: 1.5;
}

.linkbg {
    height: 80svh;
    width: 65%;
    border-radius: 35px;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.link1bg{
    margin-top: 20svh;
    height: 80svh;
    /* position: fixed; */
    /* top: 0; */
    /* top: auto; */
    /* z-index: 0; */
    margin-left: auto;
    /* transform: translateY(var(--bgY)); */
    background: url('assets/k72.jpeg') ;
    /* background-image: url('assets/k72.jpeg'); */
/* background-attachment: fixed; */
/* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -120, 0, 1); */
    background-size: auto 130%;
    background-repeat: no-repeat; 
    background-position-x: center;
    /* 160px; */
    /* формула центраированияя
    если 110 размер = в позишн 100 процентов - 10 процентов выхода за экраны т е 10 
    процентов от ширины экарна (или высоты)
    чтобы центрировать нужно взять 0 левую координату сдвинуть на полэкрана 
    640 тогда картинка начентся с середни это нас не страивает мы хотим центрирвоао между 
    середино и првым крайем 
    поэтому делим это на 2 (аналог лефт 50 и трансформ транслейт -50)
    но 2 фактора допнительно учесть - оффсет в 10 процентов и ширину области контейнера в окторой
    центрируемя 
    тиак 
    1280 / 2 = 640 / 2 = 320 
    ширина 65 процентов окна значит надо сместить еще на половин от 15 процентов 
    еще 96 пикселей - и 10 процентов оффсета так же половину от этого числа 64 итого 
    320 - 96 - 64 = примерно 160
  */
    background-position-y: var(--bg1);
     transition: background-position-y 0.2.s 

}
.link2bg{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: url('assets/link2.jpeg') ;
    background-position-y: var(--bg2) ;
    background-size: auto 130%;
    background-repeat: no-repeat; 
    background-position-x: center;
}
.link3bg{
    margin-top: auto;
    margin-bottom: 10svh;
    margin-right: auto;
    background: url('assets/havenstudios-SOTD-2.jpeg') ;
    background-position-y: var(--bg3) ;
    background-size: auto 130%;
    background-repeat: no-repeat; 
    background-position-x: center;
}