.section_links {
    height: fit-content;
    background: black;
    position: relative;
    

    /* display: none; */
  }

  .showtext{
    transform: tratinslateY(0);
  }

  .h1cont {
    --translateY: 100% ;
    --translateX: 100%;
    --scaleX: 0;
    --scale: 0;
    height: 100svh;
    overflow: hidden;
    padding-top: 30svh;
    padding-bottom: 10svh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: 
    /* url('assets/nemo-LlU-B-1VJ6c-unsplash.jpg') */
    linear-gradient(to right, #D3CCE3,rgb(233, 228, 240));
    /* background: url(assets/356350758_2de15e56-9f88-4eaa-b759-8502153c8c0d.svg) left center / 40% no-repeat; */
  }



  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4CB8B6;
    overflow: hidden;
  }
  
  .ball {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    will-change: transform;
    animation: move linear infinite;
  }
  
  .ball:nth-child(odd) {
      color: #20002c;
  }
  
  .ball:nth-child(even) {
      color: #948E99;
  }
  
  /* Using a custom attribute for variability */
  .ball:nth-child(1) {
    top: 77%;
    left: 88%;
    animation-duration: 40s;
    animation-delay: -3s;
    transform-origin: 16vw -2vh;
    box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
  }
  .ball:nth-child(2) {
    top: 42%;
    left: 2%;
    animation-duration: 53s;
    animation-delay: -29s;
    transform-origin: -19vw 21vh;
    box-shadow: 40vmin 0 5.17594621519026vmin currentColor;
  }
  .ball:nth-child(3) {
    top: 28%;
    left: 18%;
    animation-duration: 49s;
    animation-delay: -8s;
    transform-origin: -22vw 3vh;
    box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
  }
  .ball:nth-child(4) {
    top: 50%;
    left: 79%;
    animation-duration: 26s;
    animation-delay: -21s;
    transform-origin: -17vw -6vh;
    box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
  }
  .ball:nth-child(5) {
    top: 46%;
    left: 15%;
    animation-duration: 36s;
    animation-delay: -40s;
    transform-origin: 4vw 0vh;
    box-shadow: 40vmin 0 5.964309466052033vmin currentColor;
  }
  .ball:nth-child(6) {
    top: 77%;
    left: 16%;
    animation-duration: 31s;
    animation-delay: -10s;
    transform-origin: 18vw 4vh;
    box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
  }
  .ball:nth-child(7) {
    top: 22%;
    left: 17%;
    animation-duration: 55s;
    animation-delay: -6s;
    transform-origin: 1vw -23vh;
    box-shadow: 40vmin 0 5.703026794398318vmin currentColor;
  }
  .ball:nth-child(8) {
    top: 41%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -28s;
    transform-origin: 25vw -3vh;
    box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
  }
  




  

  .decor_snow_outter {
    /* overflow: hidden; */
    position: absolute;
    right: 0vw;
    top: 0svh;
    width: 11%;
    aspect-ratio: 1/1;
    /* opacity: 0.7; */
    transition: transform 0.8s ease-out;
    transform: scale(var(--scale));
  }

  .decor_snow_inner {
    /* transition: transform 1s ease-out;
    transform: scale(var(--scale)); */
  }

  .decor_snow {
    background: url(assets/snow.png) center / cover no-repeat;
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    transform: rotate(0);
    will-change: transform;
    transition: transform 5.7s cubic-bezier(0.17, 0.88, 0.44, 1.25) ;
  }

  .decor_snow:hover{
    transform: rotate(360deg)
  }

  

  /* текст внутри инспайред */
   /* убратьобщий цвет вынести во тдельные цвета  */
.links_text {
    font-size: 12vw;
    font-family: Futura Light;
    white-space: nowrap;
    line-height: 0.8;
}

  .top_line_inspired {
overflow: hidden;
    display: flex;
}

.lokomotive_cont, .e_cont {
    overflow: hidden;
    display: flex;
    align-items: end;
}
.locomotive {
    font-size: 11vw;
    font-family: Futura Light;
}

.inspiredcont {
    mix-blend-mode: difference;
    position: relative;
    overflow: hidden;
    will-change: transform;
    /* border-radius: 25px; */
    transition: transform 0.5s cubic-bezier(0.17, 0.88, 0.44, 1.25);
    /*  эффект пружины */
    /* cubic-bezier(0.65, 0, 0.35, 1) интересна я лаьтертаивы */
    /* transform: translateY(var(--translateY)) translateZ(0); */
}

.inspired {
    text-transform: uppercase;
    position: relative;
    mix-blend-mode: difference;
    color: white;
    transition: transform 0.5s cubic-bezier(0.17, 0.88, 0.44, 1.25);
    transform: translateY(var(--translateY)) translateZ(0);
}

.inspiredcont::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    /* border-radius: 35px; */

    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.218);
    will-change: transform;
    transform: scaleX(var(--scaleX)); /* Исходное состояние: масштабирование по X до 0 */
    transform-origin: left; /* Точка отсчета для масштабирования */
    transition: transform 0.5s 0.8s ease-out;
    /* чтобы получить черный на инверсии */
}

  .logo {
    background: url('assets/locomotive_mtl_logo.jpeg') 10% center / 25% auto  no-repeat;
    width: 30vw;
height: auto;
transform: translateY(var(--translateY)) translateZ(0);
/* следующие два свойства нужный ТОЛЬКО ПРИ АНИМАЦИИ И ПРИМЕНЕНИИ КЛАССА ХУЕВЕР ТАК 
как без них не работает инвертирование цвета как без включения в хувер */
mix-blend-mode: normal;
filter: invert(0);
transition: transform 0.5s 0.1s ease-out;
opacity: 0.9;
 }


.locomotive {
    margin-left: auto;
    color: #f7ebfad5;
mix-blend-mode: difference;
    /* color: rgba(0, 0, 0, 0.792); */
    transform: translateY(var(--translateY)) translateZ(0);
    transition: transform 0.5s 0.2s
}


.description_cont {
    position: absolute;
    bottom: 13svh;
    font-family: Futura;
    font-size: 1.5vw;
    
    padding-left: 2vw;
}


.des_top_cont span {
    transition: transform 0.5s 0.3s;
    transform: translateY(var(--translateY));
    display: block;
}

.des_top_cont {
    overflow: hidden;
}

.des_bottom_cont {
    position: relative;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
}

.des_bottom_cont a {
    transition: transform 0.5s 0.4s;
    transform: translateY(var(--translateY));
    text-decoration: none;
    color: black;
    display: block;
}

.des_bottom_cont::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transition: transform 0.5s 0.4s;
    transform: translateY(var(--translateY));
    background: rgba(0, 0, 0, 0.343);
}

.w_cont{
    overflow: hidden;
    
}

.w_link {
    position: relative;
    overflow: hidden;
    display: block;
    transition: transform 0.5s 0.5s;
transform: translateY(var(--translateY));
}

.w_link svg {
    box-sizing: content-box;
padding-top: 5%;

overflow: hidden;
height: 2vw;

transition: fill 0.3s;

}

.w_link svg:hover  path{
    fill: rgb(134, 106, 128)
}

.w_link svg path{
fill: rgba(0, 0, 0, 0.8);
}

/* end of inspired section */

.workds_cont {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    --bg1:-30%;
    --bg2:-30%;
    --bg3:-30%;
    /* --bgY:0; */
    height: fit-content;
    /* border: solid 1px rgba(0, 0, 0, 0.335); */
    /* overflow: hidden; */
    background:
     linear-gradient(to bottom,rgb(211,203,226), rgb(209, 184, 196), transparent) top / 100% 30% no-repeat,
     /* linear-gradient(to bottom,transparent,rgb(211,203,226),rgb(211,203,226)) bottom / 100% 20% no-repeat, */
 
    url('./assets/2to1-Sh7CRzHh3KR.jpg') center  / 100%  

}

/* counter */







    
/* end counter styles */

.link_cont {
    height: 125svh;
    display: flex;
    /* overflow: hidden; */
    border-top: solid 1px rgba(102, 102, 102, 0.6);
   
    

}

.linkcont1 {
    --cubeX: -60%;
    /* background: url(assets/18929247_rm167-sasi-72.svg) center / contain no-repeat; */
}
.linkcont2 {
    --cubeX: 0%;
}
.linkcont3 {
    --cubeX: -40%;
    height: 100lvh;
}

.work_descr_cont{
    position: absolute;
    /* border: solid 1px mistyrose; */
    display: flex;
    /* height: 50svh;    */
    width: fit-content;
    flex-direction: column;
    padding-inline: 1em;
    align-items: end;
    color: white;
    overflow: hidden;
    /* backdrop-filter: blur(2px); */

    --scaleInverse:1;
    --animation: hideinvers 0.3s forwards
}

.des1 {
    margin-left: 4vw;
    margin-top: 40svh;

    /* padding-inline: 5vw; */
}
.des2 {
    right: 2vw;
}
.des3 {
    right: 5vw;
    margin-top: 5svh;
}
.colors_cont {
    display: flex;
    box-sizing: content-box;
    transform: translateX(30%);
    position: relative;
    pointer-events: none;
    z-index: 2;
    overflow: hidden;
    --translate: 100%
}
.des_color_div {
    height: 25svh;
    width: 6vw;
        /* для накладки друг на друга */
        transform: translateX(calc(var(--translateColor)*-40%)) translateY(var(--translate));
        display: flex;
align-items: center;
/* border-radius: 25px; */
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
/* transform: translateY(var(--translate)); */
transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);

}

.colorscont0 :nth-child(2) span{
    color: rgba(0, 0, 0, 0.694) ;
}

.colorscont1 :nth-child(2) span {
    color: rgba(0, 0, 0, 0.735);
}
.des_color_text{
    font-family: FuturaPTBook;
    color: white;
    padding-top: 8%;
    font-size: 1.2em;
    line-height: 1;
    /* mix-blend-mode: difference; */
    display: block;
    height: fit-content;
    /* transform-origin: ; */
    transform: rotate(-90deg) translateY(-50%);
}
.title_des {
    font-family: Futura;
    font-size: 3.8em;
    text-transform: capitalize;
    padding-top: 6%;
    position: relative;
    z-index: 1;
    color: rgb(69, 67, 67);
    /* mix-blend-mode: difference; */
    /* color: rgb(146, 146, 146); */
    /* backdrop-filter: blur(2px); */
    background: transparent;
    overflow: hidden;
}
.title_des span {
    transform: translateY(var(--translate));
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    display: block;
    
}

.colors_cont{
    white-space: nowrap;
    opacity: 0.85;
}

.des_main {
    display: flex;
    flex-direction: column;
     font-family: Futura;
     font-size: 1.3vw;
align-items: end;
     padding-top: 10%;
     position: relative;
     z-index: 1;
     color: black;
     /* color: rgb(146, 146, 146); */
     /* mix-blend-mode: difference; */
     /* line-height: 0.8; */
}



.des_inverse {
    position: absolute;
    /* следующие 2 - значения для центрирования при наведении- вычетается смещение родителей  */
    /* top: ;  */
    left: 0;
    /* border: solid 1px blue; */
    /* height: 20%; */
    /* width: 100%; */
    border-radius: 10px;
    height: 40%;
    aspect-ratio: 1 / 2;
    z-index: 0;
    will-change: transform;
    /* top: var(--y);
    left: var(--x); */
/* mix-blend-mode: difference; */
    transition: transform 0.1s;
    filter: invert(0.95);
    animation: var(--animation);
    transform: translateY(var(--y)) translateY(-50%) translateX(var(--x)) translateX(-50%) scale(0);
}


@keyframes hideinvers {
    from {
        transform: translateY(var(--y)) translateY(-50%) translateX(var(--x)) translateX(-50%) scale(1);
    }
    to {
        transform: translateY(var(--y)) translateY(-50%) translateX(var(--x)) translateX(-50%) scale(0);
    }
}

@keyframes appearinvers {
   to { transform: translateY(var(--y)) translateY(-50%) translateX(var(--x)) translateX(-50%) scale(1);
}
}

.des_inverse img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    background: black;
    border-radius: 30px;
    

}

.link_inner_cont {
    font-family: Futura;
    font-size: 7vw;
    height: fit-content;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    --translate: 100%
}


.inner1 {
    margin-top: 30svh;
    margin-left: 25%;
    /* transform: translateX(-60%); */
    text-transform: uppercase;
    /* mix-blend-mode: normal; */
    mix-blend-mode: normal;

}

.inner2 {
    margin-top: 30svh;
    mix-blend-mode: difference;

}

.inner3 {
    margin-left: 65%;
    transform: translateX(-40%) translateY(-10%);
    margin-top: 35svh;
    mix-blend-mode: difference;

}



@keyframes rotating {
from {
    transform: rotateY(0deg);
}
    to {
        transform: rotateY(360deg);
    }
}

/* .linkcont1 .cube::after{
    content: '';
    position: absolute;
    display: block;
    height: 20svh;
    width: 15svh;
   transform: translate(-35%,-25%);
   transform-style: preserve-3d;
    background:url('./assets/gif.webp') center / contain;


} */
.cube {
    mix-blend-mode: normal;
    /* display: none; */
    perspective: 1000px;
    transform-style: preserve-3d;  
    height: 12svh;
    position: relative;
    z-index: 2;
    top: 15svh;
    left: 15svh;
    /* filter: blur(0.5px); */
    transition: transform 0.3s;
}

.cube:hover{
    transform: scale(1.5);
}
.cube_inner_cont {
          animation: rotating 20s linear infinite;
    will-change: transform;
    display: flex;
    transform-style: preserve-3d;  

    align-items: center;
    justify-content: center;

}
.side {
    position: absolute;

    /* background: #2e1437  ; */
   
    opacity:1;
    /* display: none; */
   
    opacity: 0.7
    
}
/* assets/haavenmini.jpeg */
.side3-2, .side3-4 {
    background: url('./assets/haavenmini.jpeg') center / cover;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #413678);
    border: solid #413678 1px;
}

.side3-1,.side3-3,.side3-5,.side3-6 {
    background: #413678;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #413678);
    border: solid #413678 1px;
    opacity:0.7
}

.side2-2, .side2-4 {
    background: url('./assets/webi.jpeg') center / cover;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #9e9e9e);
    border: solid #9e9e9e 1px;
}

.side2-1,.side2-3,.side2-5,.side2-6 {
    background: #9e9e9e;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #9e9e9e);
    border: solid #9e9e9e 1px;
    opacity:0.7
}

.side1-2, .side1-4 {
    background: url('./assets/k72square.jpeg') center / cover;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #2e1437);
    border: solid #2e1437 1px;
}
.side1-1,.side1-3,.side1-5,.side1-6 {
    background: #441e51 ;
    filter: 
    /* blur(0.5px) */
    drop-shadow(0 0 1px #2e1437);
    border: solid #2e1437 1px;
    opacity:0.7
}

.side1 {
    height: 4svh;
    width: 12svh;
    transform: rotateX(90deg) translateZ(-6svh);
}

.side2 {
    /* background: red; */
    height: 12svh;
    width: 14svh;
    
    transform: rotateY(0deg)  translateZ(2svh);
    /* background: url(assets/k72square.jpeg) center / cover;   */
}
  .side3 {
    /* background: blue; */
    height: 12svh;
    width: 4svh;    opacity: 0.9;

    /* боковая */
    transform: rotateY(90deg) translateZ(7svh);
  }
  .side4 {
    /* background: green; */
    transform: rotateY(180deg) translateZ(2svh);
    height: 12svh;
    width: 14svh;
    /* background: url(assets/k72square.jpeg) center / cover; */
  }
  .side5 {
    /* background: yellow; */
    height: 12svh;
    width: 4svh;
    /* боковая */
    opacity: 0.9;
    transform: rotateY(-90deg) translateZ(7svh);
  }
  .side6 {
    /* background: pink; */
    height: 4svh;
    width: 12svh;
    
    transform: rotateX(90deg) translateZ(6svh);
  }
  


canvas {
    position: absolute;
    /* transform: translate(-50%, -50%); */
}


.links_title {
font-family: FuturaMedium;
color: whitesmoke;
/* color: rgb(117, 117, 117) */
pointer-events: all;
text-decoration: none;
position: relative;
z-index: 2;
transform: translateY(var(--translate));
transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);

}

    .title1 {
        display: block;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url('assets/inverse2.jpg') ;
        background-position: center;
        background-size: cover;
        /* width: 13vw; */
/* height: 8vh; */
    }

.title2 {
    display: flex;
    /* flex-direction: row;    */
    color: rgb(113, 113, 113);
}

.title3 {
    color: rgb(255, 225, 249)
}

.title2::after {
    content: '®';
    font-size: 5vw;
display: block;
height: fit-content;
line-height: 1.5;
}

.linkbg {
    height: 130%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    will-change: transform;   
    transition: transform 0.3s;
}

.bgcont{
    height: 85svh;
    width: 68%;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    overflow: hidden;
    /* perspective: 1000px; */
}
.bgcont1 {
    margin-top: 20svh;
    margin-left: auto;
    /* transform: translateY(var(--bgY)); */
    /* transform: translateX(1svh); */
}
.bgcont2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* transform: translateY(var(--bgY)); */
    /* transform: translateX(1svh); */
}
.bgcont3 {
    margin-top: auto;
    margin-bottom: 10svh;
    margin-right: auto;
    margin-top: 15;
    /* transform: translateY(var(--bgY)); */
    /* transform: translateX(-1svh); */
}

.link1bg{
    /* --bg1:0; */
    /* margin-top: 20svh; */
    /* height: 80svh; */
    /* margin-left: auto; */
    transform: translate(0, var(--bg1));
    /* transform: translateX(1svh); */

    background: url('assets/k72.jpeg') ;
    /* background-image: url('assets/k72.jpeg'); */
/* background-attachment: fixed; */
/* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -120, 0, 1); */
background-size: cover;
background-repeat: no-repeat; 
background-position: center;;
    /* 160px; */
    /* формула центраированияя
    если 110 размер = в позишн 100 процентов - 10 процентов выхода за экраны т е 10 
    процентов от ширины экарна (или высоты)
    чтобы центрировать нужно взять 0 левую координату сдвинуть на полэкрана 
    640 тогда картинка начентся с середни это нас не страивает мы хотим центрирвоао между 
    середино и првым крайем 
    поэтому делим это на 2 (аналог лефт 50 и трансформ транслейт -50)
    но 2 фактора допнительно учесть - оффсет в 10 процентов и ширину области контейнера в окторой
    центрируемя 
    тиак 
    1280 / 2 = 640 / 2 = 320 
    ширина 65 процентов окна значит надо сместить еще на половин от 15 процентов 
    еще 96 пикселей - и 10 процентов оффсета так же половину от этого числа 64 итого 
    320 - 96 - 64 = примерно 160
  */
    
    
        /* background-attachment: fixed; */

}
.link2bg{
    
    background: url('assets/webi.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;;
    transform: translate(0, var(--bg2));

    
}
.link3bg{
    background: url('assets/havenstudios-SOTD-2.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;;
    transform: translate(0, var(--bg3));
/* transition: transform 0.1s; */
}